
.contact-page {
display: flex;
max-width: 1600px;
align-items: center;
justify-content: space-evenly;

}

.contact-one{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
width: 50%;
}

.contact-one img {
  width: 50px;
}


.contact-one a{
  color: #f24c00;
}

.contact-one a:hover{
  color: #072ac8;
  background-color: #fff;
}
.contact-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-two img{
object-fit:fill;
}