#home img {
  object-fit: cover;
}

#home h1 {
  font-size: 40px;
}

#home h3 {
  font-size: 25px;
}

@media screen and (max-width: 850px) {

#home img {
  width: 30vh;
}

}

.scrollUp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #282C34;
  position: fixed;
  right: 30px;
  top: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.scrollUp a {
  color: #fff;
  font-size: 60px;
  margin-top: -10px;
}