/* <style> */

@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap');

/* </style> */

html {
  scroll-behavior: smooth;
}
html, body {
  /* margin: 0; */
  /* font-family: 'Biryani', sans-serif; */
  /* font-family: 'Cardo', serif; */
  /* background-color: #f9eae1; */
  background-color: #fff;
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

h3{
  font-family: 'Shantell Sans', cursive;;
}

h4 {
  font-size: 24px;
  font-family: 'Cardo', serif;
  /* margin: 30px 10px; */
  /* font-family: 'Shantell Sans', cursive;; */
}


/* 
main {
  background-color: transparent;
  width: 100%;
} */


section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


div a {
  text-decoration: none;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  color:#282c34;
  /* color: #072ac8; */
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 24px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resume-text{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 50%;

}

.resume-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.resume-image img {
  width: 500px;
}

/* .button-container {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}