/* <style> */

  @import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

/* </style> */

body {
font-family: 'Biryani', sans-serif;
background-image: radial-gradient(circle, #eaebed, #bdc8d5, #8ea6bc, #5987a3, #006989);
background: cover

}


.App {
  text-align: center;
}

.navBar {
  background-color: #006989;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.nav-link{
  display: flex;
  padding-left: 100px;
  font-size: larger;
  color: #eaebed;
}

.link-home{
  color: black;
  text-decoration: none;
  color: #eaebed;

}

.link-home:hover{
  color: #a3bac3;
  text-decoration: none;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
}

.link-pages{
  text-decoration: none;
  color: #eaebed;
}

.link-pages:hover{
  text-decoration: none;
  color: #a3bac3;
}

main{
  background-color: transparent;

}

img {
  width: 300px;
  border-radius: 10px;
}

.contact-page{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  /* background-color: transparent; */
}

.contact-section-one{
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-section-two{
  padding-left: 50px;
  padding-right: 50px;
  border: .05px solid black;
  border-radius: 20px;
}

.about-me{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 500px;
}

.resume-container{
  padding-top: 150px;
}

.resume{
  color: #eaebed;
  text-decoration: none;
  background-color:#006989;
  padding: 10px;
  border-radius: 20px;
  box-shadow:#282c34 10px 5px 5px;
}

.resume:hover{
  color: red;
  background-color: #eaebed;
  text-decoration: none;
  font-weight: bold;
}

.button-container{
  display: flex;
  justify-content: center;
}

.button{
  background-color: #006989;
  color: #eaebed;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  box-shadow:#282c34 10px 5px 5px;
}

.button:hover{
  background-color: #eaebed;
  color: #006989;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}

.project-preview{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.home-page{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 500px;

}

h1{
  font-size: 48px;
}
h2{
  font-size: 40px;
}
h4{
  font-size: 24px;
}

.learn-more-button{
  background-color: #006989;
  color: #eaebed;
  border-radius: 20px;
  padding: 10px;
  box-shadow:#282c34 10px 5px 5px;
}

.learn-more-button:hover{
  background-color: #eaebed;
  color: #006989;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}

.link{
  text-decoration: none;
  color:black;

}

.link:hover{
  text-decoration: none;
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
